polkit.addRule(function(action, subject) {
  function allowed() {
    return subject.user == "pi" ||
           subject.isInGroup("pi") ||
           subject.user == "bascula" ||
           subject.isInGroup("bascula");
  }
  if (!allowed()) return polkit.Result.NOT_HANDLED;

  const id = action.id;
  if (id == "org.freedesktop.NetworkManager.settings.modify.system" ||
      id == "org.freedesktop.NetworkManager.network-control" ||
      id == "org.freedesktop.NetworkManager.enable-disable-wifi") {
    return polkit.Result.YES;
  }
});
